<div class="container">
    <div class="font_and_color_summary">
        <div class="colors">
            <p class="first"></p>
            <p class="second"></p>
            <p class="third"></p>
            <p class="fourth"></p>
            <p class="fifth"></p>
        </div>
        <div class="fonts">
            <p class="primary_font">Where does it come from ?</p>
            <p class="secondary_font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac vulputate dolor. Morbi fringilla tortor in sodales tristique. Integer quis est at erat consectetur vestibulum. Curabitur ullamcorper nec leo ac ultricies</p>
        </div>
    </div>
</div>