<div class="header">
  <a href=<%= request.original_url.gsub(/[^\/]+$/, "home") %> class="logo">ThatSite</a>
  <div class="right">
    <a href=<%= request.original_url.gsub(/[^\/]+$/, "about") %>>About</a>
    <a href=<%= request.original_url.gsub(/[^\/]+$/, "team") %>>Team</a>
    <a href=<%= request.original_url.gsub(/[^\/]+$/, "contact") %>>Contact</a>
  </div>
</div>