<div class="header">
  <a href="/home" class="logo">ThatSite</a>
  <div class="right">
    <a href="/about">A propos</a>
    <a href="/team">Equipe</a>
    <a href="/contact">Contact</a>
  </div>
</div>