/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* flex display */ 

.flex-container {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

.flex-direction-column {
	flex-direction: column;
}

.f-1 {
    flex: 1;
}

/* font for all pages */ 

body {
    font-family: 'Rubik', sans-serif;
  }

h1 {
    font-style: bold;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    width: 100%;
  }

/* padding */
.p-r-m {
    padding-right: 8px;
}
.p-l-m {
    padding-left: 8px;
}

.p-m {
    padding: 8px;
}

/* margin */

.m-t-m {
    margin-top: 8px;
}

.m-b-m {
    margin-bottom: 8px;
}

.m-l-m {
    margin-left: 8px;
}

.m-r-m {
    margin-right: 8px;
}
