.button {
    background-color: black;
    color: white;
    cursor: pointer;
    border: 0px;
    padding: 8px 16px;

    &:disabled {
        background-color: grey;
        cursor: default;
    }
}   